* {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

#main-div, #result-div {
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
}

h1, .bmi-logo > a {
    text-align: center;
    margin-bottom: 32px !important;
    font-weight: bold !important;
    color: #1BA805 !important;
}

form {
    border-radius: 15px;
    padding: 15px;
    background-color: rgba(0, 255, 0, 0.3);
}

.form > div select::placeholder {
    color: gray;
}

.form > div {
    margin: 20px;
}

.form > input {
    margin: 20px;
}

select,
input[type="date"],
input[type="number"] {
    color: #64748B;
}

select option {
    color: #64748B;
}

.form > #submit {
    display: block;
    margin: 15px auto;
    padding: 10px 15px 10px 15px;
    background-color: #1BA805;
    border: none;
    font-weight: bold;
    border-radius: 50px;
}

a {
    text-decoration: none !important;
}

#result-div > .row {
    min-width: 100vw;
}

#result-div > div > p {
    font-size: 16px;
    text-align: center;
    width: 100%;
    margin: 5px 0;
}

#result-div > div > h5 {
    text-align: center;
    width: 100%;
    margin: 5px 0;
}

.result-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.result-info > div {
    font-size: 16px;
    text-align: left;
    width: 80%;
    margin: 2px 0;
}

.error > h1,
.error > h3 {
    text-align: center;
}